.md_preview:has(>.markdown-body) {
    border: unset;
    padding: unset;
}

#preview-container>.markdown-body {
    margin: 0 auto;
    max-width: 140ch;
    padding: 3rem 2rem;
}

#preview-container>.markdown-body pre code.hljs {
    padding: unset;
}
